


:host ::ng-deep .custom-table .p-datatable-tbody > tr > td,
:host ::ng-deep .custom-table .p-datatable-thead > tr > th,
:host ::ng-deep .custom-table .p-datatable-tfoot > tr > td{
   padding: 0.3rem 0.3rem !important;
}

::ng-deep .custom-header-table .p-datatable-thead > tr > th {
   background-color: #422d6b !important; /* blu scuro */
   color: #ffe378 !important; /* testo bianco */
   font-weight: bold;
   font-size: 1.2em;
   border-bottom: 2px solid #3949ab; /* bordo inferiore */
}

::ng-deep .custom-footer-table .p-datatable-tfoot > tr > td {
   color: #ffffff !important; /* blu scuro */
   background-color: #52410d !important; /* testo bianco */
   font-weight: bold;
   font-size: 1.2em;
}


/* Colore Riga 1 (es. Bianco o default) */
:host ::ng-deep .custom-table .p-datatable-tbody > tr:nth-child(3n+1) {
   background-color: #1f2938 !important;
}

/* Colore Riga 2 (es. Grigio chiaro) */
:host ::ng-deep .custom-table .p-datatable-tbody > tr:nth-child(3n+2) {
   background-color: #273345 !important;
}

/* Colore Riga 3 (es. Un azzurro molto tenue o crema) */
:host ::ng-deep .custom-table .p-datatable-tbody > tr:nth-child(3n) {
   background-color: #2f3e53 !important;
}

.percentuale-piccola {
   font-size: 0.7rem !important;
   display: block; /* Opzionale: assicura che prenda bene lo stile */
}



.punteggi-grid {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;

   .row {
      display: flex;
      align-items: center;
      gap: 1rem;
   }

   .row-label {
      width: 10rem;          /* larghezza fissa per le label, così le colonne sono allineate  */
      font-weight: bold;
      flex-shrink: 0;
   }

   .values-grid {
      display: grid;
      grid-template-columns: repeat(8, 6rem); /* 8 colonne da 6rem (>= 7 char in monospace) */
      gap: 0.5rem;

      .value {
         text-align: center; /* o left, a scelta */
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
      }
   }
}

.match-title {
   font-size: 3rem !important;
   font-weight: bold;
   margin-top: 5px;
   margin-bottom: 5px;
   padding-top: 0px;
}


.match-header-data-grid {
   display: grid;
   grid-template-columns: max-content 1fr;
   gap: 4px 12px;
}

.match-header-label {
   font-style: italic;
}

.match-header-value {
   font-weight: bold;
}

.chart-container {
   position: relative;
   height: calc(100vh - 490px);
}
