<div id="dev-titolo" style="display: flex; align-items: center;">
   <img src="assets/Nebula%20logo.png" style="max-height: 80px;" alt="Nebula logo">
   <span style="margin-left: 20px;">versione: {{ appVersion }} by Massimo Zanoletti</span>
</div>

<p-tabView id="tab-main"
           [(activeIndex)]="tabActiveIndex"
           (onChange)="HandleTabChange($event)"
>
   <p-tabPanel id="tab-partite"
               header="Partite">
      <div class="card">
         <p-table id="tbl-matches"
            class="custom-header-table"
            styleClass="p-datatable-gridlines"
            [scrollable]="true"
            scrollHeight="calc(100vh - 150px)"
            [value]="matchList"
            dataKey="id"
            [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
               <tr>
                  <th style="width: 65px;">Id</th>
                  <th style="width: 250px;">Data</th>
                  <th >Titolo</th>
                  <th style="min-width: 120px !important;">Azioni</th>
               </tr>
            </ng-template>
            <ng-template pTemplate="body"
                         let-elemento
                         let-rowIndex="rowIndex">
               <tr >
                  <td><span style="font-size: 0.6em;">{{ elemento.ID }}</span></td>
                  <td>{{ elemento.PlayDate }}</td>
                  <td>{{ elemento.Title }}</td>
                  <p-button
                     class="p-button-table"
                     icon="pi pi-pencil"
                     severity="primary"
                     pTooltip="Modifica"
                     tooltipPosition="top"
                     (click)="BtnSelezionaMatch(elemento)"
                  ></p-button>
               </tr>
            </ng-template>
         </p-table>
      </div>

      <!--
      <div>
         <textarea
            rows="20"
            cols="100"
            pInputTextarea
            [(ngModel)]="eventsData">
         </textarea>
               <textarea
                  rows="20"
                  cols="100"
                  pInputTextarea
                  [(ngModel)]="xmlData">
         </textarea>
               <textarea
                  rows="20"
                  cols="100"
                  pInputTextarea
                  [(ngModel)]="jsonDataStr">
         </textarea>0
      </div>
      -->
   </p-tabPanel>

   <p-tabPanel id="tab-tabelle"
               header="Tabelle">
      <div id="div-tab-tabelle-comandi"
            style="margin-top: 5px; margin-bottom: 5px;">
         <p-button id="btn-tabelle-pdf-export"
            (onClick)="BtnPdfExportTabelle()">Esporta in PDF</p-button>
      </div>
      <div id="div-tab-tabelle">
         <div id="div-match-header"
              class="match-header-data-grid">
            <span class="match-header-label">Data:</span>
            <span class="match-header-value">{{GetMatchDate()}}</span>

            <span class="match-header-label">Casa/Trasferta:</span>
            <span class="match-header-value">{{GetMatchHome()}} ({{GetMatchLocation()}})</span>

            <span class="match-header-label">Giornata:</span>
            <span class="match-header-value">{{GetMatchGiornata()}} ({{GetMatchNumber()}})</span>

            <span class="match-header-label">Arbitri:</span>
            <span class="match-header-value">{{GetMatchArbitri()}}</span>
         </div>
         <div id="div-match-title"
            class="match-title">
            <p class="match-title"
               [innerHTML]="GetMatchTitle()"></p>
         </div>
         <div class="punteggi-grid">
            <!-- Header + dati riga Parziali -->
            <div class="row">
               <span class="row-label">Parziali:</span>
               <div class="values-grid" [style.--cols]="8">
                  <span class="value" *ngFor="let v of jsonData?.match?.parziali!">{{ v }}</span>
               </div>
            </div>

            <!-- Header + dati riga Progressivi -->
            <div class="row">
               <span class="row-label">Progressivi:</span>
               <div class="values-grid" [style.--cols]="8">
                  <span class="value" *ngFor="let v of jsonData?.match?.progressivi!">{{ v }}</span>
               </div>
            </div>

            <!-- Header + dati riga Vantaggio -->
            <div class="row">
               <span class="row-label">Max vantaggio:</span>
               <div class="values-grid" [style.--cols]="8">
                  <span class="value" *ngFor="let v of quartiGiocati!">{{ v.maxVantaggio }}</span>
               </div>
            </div>

            <!-- Header + dati riga Svantaggio -->
            <div class="row">
               <span class="row-label">Max svantaggio:</span>
               <div class="values-grid" [style.--cols]="8">
                  <span class="value" *ngFor="let v of quartiGiocati!">{{ v.maxPerdita }}</span>
               </div>
            </div>

            <!-- Header + dati riga Svantaggio -->
            <div class="row">
               <span class="row-label">Max senza segnare:</span>
               <div class="values-grid" [style.--cols]="8">
                  <span class="value" *ngFor="let v of quartiGiocati!">{{ v.maxSenzaSegnareStr }}</span>
               </div>
            </div>

            <!-- Header + dati riga Svantaggio -->
            <div class="row">
               <span class="row-label">Max senza subire:</span>
               <div class="values-grid" [style.--cols]="8">
                  <span class="value" *ngFor="let v of quartiGiocati!">{{ v.maxSenzaSubireStr }}</span>
               </div>
            </div>
         </div>
      <p-divider />

      <div id="div-tbl-myteam"
         *ngIf="partitaOk">
         <p-table
            class="custom-header-table custom-footer-table"
            styleClass="custom-table p-datatable-gridlines"
            [scrollable]="true"
            scrollHeight="700px"
            [value]="myPlayers"
            dataKey="id"
            [tableStyle]="{ 'min-width': '0px', 'width': 'max-content','table-layout': 'fixed', 'padding': '0.2rem 0.2rem' }">
            <ng-template pTemplate="header">
               <tr>
                  <th style="width: 180px;">{{jsonData.myTeam!.name!}}</th>
                  <th style="width: 40px; text-align: right;">Pti</th>
                  <th style="width: 60px; text-align: center;">Min.</th>
                  <th style="width: 85px; text-align: center;">TL</th>
                  <th style="width: 85px; text-align: center;">T2</th>
                  <th style="width: 85px; text-align: center;">T3</th>
                  <th style="width: 85px; text-align: center;">TdC</th>
                  <th style="width: 50px; text-align: center;">FF</th>
                  <th style="width: 50px; text-align: center;">FS</th>
                  <th style="width: 50px; text-align: center;">RD</th>
                  <th style="width: 50px; text-align: center;">RA</th>
                  <th style="width: 50px; text-align: center;">RTot</th>
                  <th style="width: 50px; text-align: center;">PP</th>
                  <th style="width: 50px; text-align: center;">PR</th>
                  <th style="width: 50px; text-align: center;">As</th>
                  <th style="width: 50px; text-align: center;">St.F</th>
                  <th style="width: 50px; text-align: center;">St.S</th>
                  <th style="width: 50px; text-align: center;">Q1</th>
                  <th style="width: 50px; text-align: center;">Q2</th>
                  <th style="width: 50px; text-align: center;">Q3</th>
                  <th style="width: 50px; text-align: center;">Q4</th>
                  <th style="width: 50px; text-align: center;">ET</th>
                  <th style="width: 70px; text-align: center;" pTooltip="<span style='color: #ffff00'><b>{{ tooltip_Pir_Title }}</b></span><br><span style='font-size: 0.8rem;'>{{ tooltip_Pir_Desc }}</span>" [escape]="false" tooltipPosition="top">PIR <i class="pi pi-question-circle" style="font-size: 0.7rem; color: #77ff77"></i></th>
                  <th style="width: 70px; text-align: center;" pTooltip="<span style='color: #ffff00'><b>{{ tooltip_Oer_Title }}</b></span><br><span style='font-size: 0.8rem;'>{{ tooltip_Oer_Desc }}</span>" [escape]="false" tooltipPosition="top">OER <i class="pi pi-question-circle" style="font-size: 0.7rem; color: #77ff77"></i></th>
                  <th style="width: 85px; text-align: center;" pTooltip="<span style='color: #ffff00'><b>{{ tooltip_Efgp_Title }}</b></span><br><span style='font-size: 0.8rem;'>{{ tooltip_Efgp_Desc }}</span>" [escape]="false" tooltipPosition="top">eFG% <i class="pi pi-question-circle" style="font-size: 0.7rem; color: #77ff77"></i></th>
                  <th style="width: 70px; text-align: center;" pTooltip="<span style='color: #ffff00'><b>{{ tooltip_Tsp_Title }}</b></span><br><span style='font-size: 0.8rem;'>{{ tooltip_Tsp_Desc }}</span>" [escape]="false" tooltipPosition="top">TS% <i class="pi pi-question-circle" style="font-size: 0.7rem; color: #77ff77"></i></th>
               </tr>
            </ng-template>
            <ng-template pTemplate="body"
                         let-elemento
                         let-rowIndex="rowIndex">
               <tr >
                  <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(GetPlayerName(elemento))"></td>
                  <td style="text-align: right;">{{ elemento.totali.punti }}</td>
                  <td style="text-align: center;">{{ elemento.totali.min }}</td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.tl) "></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.t2)"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.t3)"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.tdc)"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.fFatti"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.fSubiti"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.rDif"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.rAtt"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.rTot"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.pPerse"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.pRecuperate"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.assist"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.stopFatte"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.stopSubite"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.q1.dato)"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.q2.dato)"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.q3.dato)"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.q4.dato)"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.et.dato)"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.pir"></td>
                  <td style="text-align: center;" [innerHTML]="(elemento.totali.oer!='')?elemento.totali.oer.toFixed(1):''"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.eFGp"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.TSp"></td>
               </tr>
            </ng-template>
            <ng-template pTemplate="footer">
               <tr>
                  <td>
                     <span style="font-size: 0.8rem !important;">Totali team</span>
                     <br>
                     <span style="font-size: 1.25rem !important; color: #ffaa00 !important;">{{ jsonData.myTeam?.name }}</span>
                  </td>
                  <td style="text-align: center;">{{GetTotaliPunti(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliTempo(true)}}</td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(GetTotaliTL(true)) "></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(GetTotaliT2(true)) "></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(GetTotaliT3(true)) "></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(GetTotaliTC(true)) "></td>
                  <td style="text-align: center;">{{GetTotaliFFatti(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliFSubiti(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliRimbDifesa(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliRimbAttacco(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliRimbTot(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliPPerse(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliPRecuperate(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliAssist(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliStopFatte(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliStopSubite(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliQ1(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliQ2(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliQ3(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliQ4(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliET(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliPir(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliOer(true)}}</td>
                  <td style="text-align: center;">{{GetTotalieFGp(true)}}</td>
                  <td style="text-align: center;">{{GetTotaliTSp(true)}}</td>
               </tr>
            </ng-template>
         </p-table>
      </div>
      <div id="div-my-allen"
           class="match-header-data-grid">
         <span class="match-header-label">Head coach:</span>
         <span class="match-header-value">{{jsonData.myTeam?.coach1}}</span>

         <span class="match-header-label">1° Assistente:</span>
         <span class="match-header-value">{{jsonData.myTeam?.coach2}}</span>
      </div>

      <p-divider />

      <div id="div-tbl-oppoteam"
           *ngIf="partitaOk">
         <p-table
            class="custom-header-table custom-footer-table"
            styleClass="custom-table p-datatable-gridlines"
            [scrollable]="true"
            scrollHeight="700px"
            [value]="oppoPlayers"
            dataKey="id"
            [tableStyle]="{ 'min-width': '0px', 'width': 'max-content','table-layout': 'fixed', 'padding': '0.2rem 0.2rem' }">
            <ng-template pTemplate="header">
               <tr>
                  <th style="width: 180px;"><span style="font-size: 1.3rem !important;">{{jsonData.oppoTeam!.name!}}</span></th>
                  <th style="width: 40px; text-align: right;">Pti</th>
                  <th style="width: 60px; text-align: center;">Min.</th>
                  <th style="width: 85px; text-align: center;">TL</th>
                  <th style="width: 85px; text-align: center;">T2</th>
                  <th style="width: 85px; text-align: center;">T3</th>
                  <th style="width: 85px; text-align: center;">TdC</th>
                  <th style="width: 50px; text-align: center;">FF</th>
                  <th style="width: 50px; text-align: center;">FS</th>
                  <th style="width: 50px; text-align: center;">RD</th>
                  <th style="width: 50px; text-align: center;">RA</th>
                  <th style="width: 50px; text-align: center;">RTot</th>
                  <th style="width: 50px; text-align: center;">PP</th>
                  <th style="width: 50px; text-align: center;">PR</th>
                  <th style="width: 50px; text-align: center;">As</th>
                  <th style="width: 50px; text-align: center;">St.F</th>
                  <th style="width: 50px; text-align: center;">St.S</th>
                  <th style="width: 50px; text-align: center;">Q1</th>
                  <th style="width: 50px; text-align: center;">Q2</th>
                  <th style="width: 50px; text-align: center;">Q3</th>
                  <th style="width: 50px; text-align: center;">Q4</th>
                  <th style="width: 50px; text-align: center;">ET</th>
                  <th style="width: 70px; text-align: center;" pTooltip="<span style='color: #ffff00'><b>{{ tooltip_Pir_Title }}</b></span><br><span style='font-size: 0.8rem;'>{{ tooltip_Pir_Desc }}</span>" [escape]="false" tooltipPosition="top">PIR <i class="pi pi-question-circle" style="font-size: 0.7rem; color: #77ff77"></i></th>
                  <th style="width: 70px; text-align: center;" pTooltip="<span style='color: #ffff00'><b>{{ tooltip_Oer_Title }}</b></span><br><span style='font-size: 0.8rem;'>{{ tooltip_Oer_Desc }}</span>" [escape]="false" tooltipPosition="top">OER <i class="pi pi-question-circle" style="font-size: 0.7rem; color: #77ff77"></i></th>
                  <th style="width: 85px; text-align: center;" pTooltip="<span style='color: #ffff00'><b>{{ tooltip_Efgp_Title }}</b></span><br><span style='font-size: 0.8rem;'>{{ tooltip_Efgp_Desc }}</span>" [escape]="false" tooltipPosition="top">eFG% <i class="pi pi-question-circle" style="font-size: 0.7rem; color: #77ff77"></i></th>
                  <th style="width: 70px; text-align: center;" pTooltip="<span style='color: #ffff00'><b>{{ tooltip_Tsp_Title }}</b></span><br><span style='font-size: 0.8rem;'>{{ tooltip_Tsp_Desc }}</span>" [escape]="false" tooltipPosition="top">TS% <i class="pi pi-question-circle" style="font-size: 0.7rem; color: #77ff77"></i></th>
               </tr>
            </ng-template>
            <ng-template pTemplate="body"
                         let-elemento
                         let-rowIndex="rowIndex">
               <tr >
                  <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(GetPlayerName(elemento))"></td>
                  <td style="text-align: right;">{{ elemento.totali.punti }}</td>
                  <td style="text-align: center;">{{ elemento.totali.min }}</td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.tl) "></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.t2)"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.t3)"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.tdc)"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.fFatti"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.fSubiti"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.rDif"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.rAtt"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.rTot"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.pPerse"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.pRecuperate"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.assist"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.stopFatte"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.stopSubite"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.q1.dato)"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.q2.dato)"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.q3.dato)"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.q4.dato)"></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.et.dato)"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.pir"></td>
                  <td style="text-align: center;" [innerHTML]="(elemento.totali.oer!='')?elemento.totali.oer.toFixed(1):''"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.eFGp"></td>
                  <td style="text-align: center;" [innerHTML]="elemento.totali.TSp"></td>
               </tr>
            </ng-template>
            <ng-template pTemplate="footer">
               <tr>
                  <td>
                     <span style="font-size: 0.8rem !important;">Totali team</span>
                     <br>
                     <span style="font-size: 1.25rem !important; color: #ffaa00 !important;">{{ jsonData.oppoTeam?.name }}</span>
                  </td>
                  <td style="text-align: center;">{{GetTotaliPunti(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliTempo(false)}}</td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(GetTotaliTL(false)) "></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(GetTotaliT2(false)) "></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(GetTotaliT3(false)) "></td>
                  <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(GetTotaliTC(false)) "></td>
                  <td style="text-align: center;">{{GetTotaliFFatti(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliFSubiti(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliRimbDifesa(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliRimbAttacco(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliRimbTot(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliPPerse(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliPRecuperate(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliAssist(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliStopFatte(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliStopSubite(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliQ1(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliQ2(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliQ3(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliQ4(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliET(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliPir(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliOer(false)}}</td>
                  <td style="text-align: center;">{{GetTotalieFGp(false)}}</td>
                  <td style="text-align: center;">{{GetTotaliTSp(false)}}</td>
               </tr>
            </ng-template>
         </p-table>
      </div>
      <div id="div-oppo-allen"
           class="match-header-data-grid">
         <span class="match-header-label">Head coach:</span>
         <span class="match-header-value">{{jsonData.oppoTeam?.coach1}}</span>

         <span class="match-header-label">1° Assistente:</span>
         <span class="match-header-value">{{jsonData.oppoTeam?.coach2}}</span>
      </div>
      </div><!-- chiusura div-tab-tabelle -->
   </p-tabPanel>

   <p-tabPanel id="tab-grafici"
               header="Grafici">
      <div id="div-tab-grafici-comandi"
           style="margin-top: 5px; margin-bottom: 5px; display: flex; align-items: center; gap: 20px;">
         <p-button id="btn-grafici-pdf-export"
                   (onClick)="BtnPdfExportGrafici()">Esporta grafici in PDF</p-button>
         <div style="display: flex; align-items: center; gap: 8px;">
            <p-inputSwitch [(ngModel)]="showFalli" (onChange)="OnToggleFalli()"></p-inputSwitch>
            <label>Falli</label>
         </div>
         <div style="display: flex; align-items: center; gap: 8px;">
            <p-inputSwitch [(ngModel)]="showSostit" (onChange)="OnToggleSostit()"></p-inputSwitch>
            <label>Sostituzioni</label>
         </div>
         <div style="display: flex; align-items: center; gap: 8px;">
            <p-inputSwitch [(ngModel)]="showMyTeam" (onChange)="OnToggleMyTeam()"></p-inputSwitch>
            <label>My Team</label>
         </div>
         <div style="display: flex; align-items: center; gap: 8px;">
            <p-inputSwitch [(ngModel)]="showOppoTeam" (onChange)="OnToggleOppoTeam()"></p-inputSwitch>
            <label>Opponent Team</label>
         </div>
      </div>
      <div id="div-grafici"
           *ngIf="partitaOk">

         <div id="div-grafici-match-header"
              class="match-header-data-grid">
            <span class="match-header-label">Data:</span>
            <span class="match-header-value">{{GetMatchDate()}}</span>

            <span class="match-header-label">Casa/Trasferta:</span>
            <span class="match-header-value">{{GetMatchHome()}} ({{GetMatchLocation()}})</span>

            <span class="match-header-label">Giornata:</span>
            <span class="match-header-value">{{GetMatchGiornata()}} ({{GetMatchNumber()}})</span>

            <span class="match-header-label">Arbitri:</span>
            <span class="match-header-value">{{GetMatchArbitri()}}</span>
         </div>
         <div id="div-grafici-match-title"
              class="match-title">
            <p class="match-title"
               [innerHTML]="sanitizer.bypassSecurityTrustHtml(GetMatchTitle())">
            </p>
         </div>

         <p-tabView id="tab-grafici" [(activeIndex)]="activeGraficiTabIndex">
            <p-tabPanel *ngFor="let quarto of quartiGiocati"
                        [header]="quarto.titolo">

               <div id="div-match-quarter"
                    class="match-header-data-grid">
                  <span class="match-header-label">Punteggio:</span>
                  <span class="match-header-value">({{quarto.myTeamPunti1}}-{{quarto.oppoTeamPunti1}})  ==>>  ({{quarto.myTeamPunti2}}-{{quarto.oppoTeamPunti2}})</span>

                  <span class="match-header-label">Parziale:</span>
                  <span class="match-header-value">({{quarto.myTeamPunti2-quarto.myTeamPunti1}}-{{quarto.oppoTeamPunti2-quarto.oppoTeamPunti1}})</span>

               </div>

               <p-divider />

               <div class="chart-container">
                  <canvas baseChart
                          [data]="quarto.lineChartData"
                          [options]="quarto.lineChartOptions"
                          [type]="'line'">
                  </canvas>
               </div>

            </p-tabPanel>
         </p-tabView>
      </div>
   </p-tabPanel>
</p-tabView>

