

<div class="card">
   <p-table
      class="custom-header-table"
      styleClass="p-datatable-gridlines"
      [scrollable]="true"
      scrollHeight="200px"
      [value]="matchList"
      dataKey="id"
      [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
         <tr>
            <th style="width: 65px;">Id</th>
            <th style="width: 250px;">Data</th>
            <th >Titolo</th>
            <th style="min-width: 120px !important;">Azioni</th>
         </tr>
      </ng-template>
      <ng-template pTemplate="body"
                   let-elemento
                   let-rowIndex="rowIndex">
         <tr >
            <td><span style="font-size: 0.6em;">{{ elemento.ID }}</span></td>
            <td>{{ elemento.PlayDate }}</td>
            <td>{{ elemento.Title }}</td>
            <p-button
               class="p-button-table"
               icon="pi pi-pencil"
               severity="primary"
               pTooltip="Modifica"
               tooltipPosition="top"
               (click)="BtnSelezionaMatch(elemento)"
            ></p-button>
         </tr>
      </ng-template>
   </p-table>
</div>

<div id="div-tbl-mytean">
   <p-table
      class="custom-header-table"
      styleClass="custom-table  p-datatable-striped p-datatable-gridlines"
      [scrollable]="true"
      scrollHeight="600px"
      [value]="myPlayers"
      dataKey="id"
      [tableStyle]="{ 'min-width': '0px', 'width': 'max-content','table-layout': 'fixed', 'padding': '0.2rem 0.2rem' }">
      <ng-template pTemplate="header">
         <tr>
            <th style="width: 180px;">{{jsonData.myTeam!.name!}}</th>
            <th style="width: 40px; text-align: right;">Pti</th>
            <th style="width: 60px; text-align: center;">Min.</th>
            <th style="width: 85px; text-align: center;">TL</th>
            <th style="width: 85px; text-align: center;">T2</th>
            <th style="width: 85px; text-align: center;">T3</th>
            <th style="width: 85px; text-align: center;">TdC</th>
            <th style="width: 50px; text-align: center;">FF</th>
            <th style="width: 50px; text-align: center;">FS</th>
            <th style="width: 50px; text-align: center;">RD</th>
            <th style="width: 50px; text-align: center;">RA</th>
            <th style="width: 50px; text-align: center;">RTot</th>
            <th style="width: 50px; text-align: center;">PP</th>
            <th style="width: 50px; text-align: center;">PR</th>
            <th style="width: 50px; text-align: center;">As</th>
            <th style="width: 50px; text-align: center;">St.F</th>
            <th style="width: 50px; text-align: center;">St.S</th>
            <th style="width: 50px; text-align: center;">Q1</th>
            <th style="width: 50px; text-align: center;">Q2</th>
            <th style="width: 50px; text-align: center;">Q3</th>
            <th style="width: 50px; text-align: center;">Q4</th>
            <th style="width: 50px; text-align: center;">ET</th>
            <th style="width: 70px; text-align: center;" pTooltip="<span style='color: #ffff00'><b>{{ tooltip_Pir_Title }}</b></span><br><span style='font-size: 0.8rem;'>{{ tooltip_Pir_Desc }}</span>" [escape]="false" tooltipPosition="top">PIR <i class="pi pi-question-circle" style="font-size: 0.7rem; color: #77ff77"></i></th>
            <th style="width: 70px; text-align: center;" pTooltip="<span style='color: #ffff00'><b>{{ tooltip_Oer_Title }}</b></span><br><span style='font-size: 0.8rem;'>{{ tooltip_Oer_Desc }}</span>" [escape]="false" tooltipPosition="top">OER <i class="pi pi-question-circle" style="font-size: 0.7rem; color: #77ff77"></i></th>
            <th style="width: 75px; text-align: center;" pTooltip="<span style='color: #ffff00'><b>{{ tooltip_Efgp_Title }}</b></span><br><span style='font-size: 0.8rem;'>{{ tooltip_Efgp_Desc }}</span>" [escape]="false" tooltipPosition="top">eFG% <i class="pi pi-question-circle" style="font-size: 0.7rem; color: #77ff77"></i></th>
            <th style="width: 70px; text-align: center;" pTooltip="<span style='color: #ffff00'><b>{{ tooltip_Tsp_Title }}</b></span><br><span style='font-size: 0.8rem;'>{{ tooltip_Tsp_Desc }}</span>" [escape]="false" tooltipPosition="top">TS% <i class="pi pi-question-circle" style="font-size: 0.7rem; color: #77ff77"></i></th>
         </tr>
      </ng-template>
      <ng-template pTemplate="body"
                   let-elemento
                   let-rowIndex="rowIndex">
         <tr >
            <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(GetPlayerName(elemento))"></td>
            <td style="text-align: right;">{{ elemento.totali.punti }}</td>
            <td style="text-align: center;">{{ elemento.totali.min }}</td>
            <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.tl) "></td>
            <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.t2)"></td>
            <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.t3)"></td>
            <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.tdc)"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.fFatti"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.fSubiti"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.rDif"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.rAtt"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.rTot"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.pPerse"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.pRecuperate"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.assist"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.stopFatte"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.stopSubite"></td>
            <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.q1.dato)"></td>
            <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.q2.dato)"></td>
            <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.q3.dato)"></td>
            <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.q4.dato)"></td>
            <td style="text-align: center;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(elemento.totali.et.dato)"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.pir"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.oer"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.eFGp"></td>
            <td style="text-align: center;" [innerHTML]="elemento.totali.TSp"></td>
         </tr>
      </ng-template>
      <ng-template pTemplate="footer">
         <tr>
            <td> </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: center;">{{GetPuntiTotaliTeam()}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
         </tr>
      </ng-template>
   </p-table>

   <!--
   <p-table
      class="custom-header-table"
      styleClass="p-datatable-gridlines"
      [scrollable]="true"
      scrollHeight="600px"
      [value]="oppoPlayers"
      dataKey="id"
      [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
         <tr>
            <th style="width: 120px;">Gioc.</th>
            <th style="width: 50px;">Time</th>
            <th style="max-width: 40px; width: 40px;">Punti</th>
            <th style="width: 40px;">TL</th>
            <th style="width: 40px;">T2</th>
            <th style="width: 40px;">T3</th>
            <th style="width: 40px;">TdC</th>
         </tr>
      </ng-template>
      <ng-template pTemplate="body"
                   let-elemento
                   let-rowIndex="rowIndex">
         <tr >
            <td>{{ GetPlayerName(elemento) }}</td>
            <td>{{ GetTempoGioco(elemento) }}</td>
            <td>{{ GetPuntiTotali(elemento) }}</td>
            <td>{{ GetTitiLiberi(elemento) }}</td>
            <td>{{ GetTit2(elemento) }}</td>
            <td>{{ GetTiti3(elemento) }}</td>
            <td>{{ GetTitiDalCampo(elemento) }}</td>
      </ng-template>
   </p-table>
   -->

</div>

<div>
   <textarea
      rows="20"
      cols="100"
      pInputTextarea
      [(ngModel)]="eventsData">
   </textarea>
   <textarea
      rows="20"
      cols="100"
      pInputTextarea
      [(ngModel)]="xmlData">
   </textarea>
   <textarea
      rows="20"
      cols="100"
      pInputTextarea
      [(ngModel)]="jsonDataStr">
   </textarea>
</div>

